<!DOCTYPE html>
<html ng-app="quoteBook">
	<head>
		<title>QuoteBook</title>
		<link rel="stylesheet" href="styles.css">
	</head>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/mainCtrl.js"></script>
	<script src="js/service.js"></script>
	
	
	<body ng-controller="mainCtrl">
		<p>Favorite Quotes</p>
		
		<aside>
		<button ng-click="addBoxAppear = !addBoxAppear">Add Quote</button>
		<!---add quote input box-->
		<div ng-show="addBoxAppear">
			
			<input type="text" placeholder="Add quote here" ng-model="addQuoteText"></input>
			
			<input type="text" placeholder="Add author here" ng-model="addAuthorText"></input>
			
			<button ng-click="addData()">Submit</button>
		</div>


		<button ng-click="removeBoxAppear = !removeBoxAppear">Remove Quote</button>
		<!---remove quote input box-->
		<div ng-show="removeBoxAppear">
			
			<input type="text" placeholder="Remove by quote" ng-model="removeDataText"></input>
			
	
			<button ng-click="removeData()">Submit</button>
		</div>


		<button ng-click="filterBoxAppear = !filterBoxAppear">Find Quote</button>
		<!---filter quote input box-->
		<div ng-show="filterBoxAppear">
			Find quote by word or author:
			<input type="text" placeholder="Find By Author" ng-model="filterInput"></input>
			
		</div>
		</aside>

		<div class ="quotes">
		<ul>
			<li ng-repeat='quote in quotes | filter: filterInput'>{{quote.text + " - " + quote.author}}</li>
			
		</ul>
		<div>
		
	</body>

</html>

